@media (max-width: 1400px) {
  .section2 {
    .content span:first-child {
      padding-right: 30rem !important;
    }
  }
  aside {
    div:nth-child(4).d-flex {
      margin-left: 2rem !important;
    }
    .bestBonusses {
      .col-md-5 {
        padding: 0;
      }
    }
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 8.5px;
  }
  .section1 {
    div:first-child {
      padding-right: 10rem !important;
    }
  }
  .section2 {
    div:nth-child(2) {
      span:first-child {
        padding-right: 15rem !important;
      }
    }
  }
  .section3 {
    .btn-gradient-border {
      padding-bottom: 0.5rem !important;
      padding-left: 2.5rem !important;
      padding-right: 2.5rem !important;
    }
  }
  .section4 {
    .btn-gradient-border {
      padding: 1rem 0 !important;
    }
  }
  .section5 {
    .btn-gradient-border {
      padding: 1rem !important;
    }
  }
}
@media (max-width: 992px) {
  html {
    font-size: 7px;
  }
  .navbar{
    .collapse{
      padding: 0 40rem !important;
      .btn-gradient-border{
        text-align: center !important;
        transition: none !important;
      }
    }
  }
  .section1 {
    div:first-child {
      padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    }
  }
  .section2 {
    div:nth-child(2) {
      span:first-child {
        padding-right: 5rem !important;
      }
    }
  }
  .section3 {
    .casinos {
      button {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
  .section4 {
    div {
      .col-md-2 ul {
        padding: 0 !important;
      }
    }
  }
  .section5 {
    .btn-gradient-border {
      padding: 0.5rem !important;
    }
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6.5px;
  }
  .section4 {
    div.row.w-100.bgCasinos {
      height: 420px;
      .col-md-2:nth-child(even) {
        display: flex !important;
        justify-content: center;
        margin: 1rem auto;
        padding: 0;
      }
      .btn-gradient-border {
        margin: 2rem auto;
        width: 50% !important;
      }
    }
    .carousel-item {
      .bgCasinos {
        width: 100% !important;
        margin: 0 auto;
      }
    }
  }
  .bestBonusses {
    margin: 0;
    justify-content: center !important;

    img {
      width: fit-content;
      max-width: 100% !important;
    }
    div {
      text-align: center;
      width: 25% !important;
    }
  }

  .latestNews {
    margin: 0 !important;
    img {
      width: fit-content;
      max-width: 100% !important;
      display: inline-block;
    }
    div {
      display: inline-block;
    }
  }
  .about {
    flex-wrap: nowrap;
    .col-md-3 {
      width: 25%;
    }
    hr {
      width: 100;
    }
  }
  .container {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 5.5px;
  }
  input.w-25 {
    width: 50% !important;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 5px;
  }

  .section1 {
    div:first-child.align-items-start {
      padding: 0 !important;
      align-items: center !important;
      text-align: center !important;
    }
    &-hero {
      width: 100%;
      transform: scale(1) translateX(0);
    }
  }
  .section2 {
    flex-direction: column-reverse !important;
    div:nth-child(2) {
      padding: 0;
      padding-bottom: 3rem;
      align-items: center !important;
      text-align: center !important;
      span.fs-35{
        padding-right: 0 !important;
      }
    }
  }
  .section3{
    margin-bottom: 4rem;
    .casinos{
      button{
        margin-left: .5rem !important;
        margin-right: .5rem !important;
      }
      .btn-gradient-border{
        margin-left: .5rem !important;
        margin-right: .5rem !important;
        padding-left: .5rem !important;
        padding-right: .5rem !important;
        padding-bottom: .5rem !important;
        padding-top: .5rem !important;
      }
    }
    

  }
  .quote{
    img.d-inline{
      width:6px !important;
    }
    .star{
      width: 9px;
    }
    div:last-child{
      margin-right: 2rem !important;
    }
  }
}
