$bgColor: #07041C;
//Button Lineer Gradient
$orange: #FFCEA8;
$purple: #C3A6FC;
$green: #80FEF7;
//BackGround Linear Gradient
$bgGradient1:#282349;
$bgGradient2:#14102B;
//Gray Button
$buttongray:#DDDFFF;
//Section 2 İcons
$gray:#7E77AC;
//Casinos Cards bg
$bgCasinos:#241F43;
